APP_NAME="EMPACAR S.A. - Sistema Comercial"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=America/La_Paz
APP_URL=http://127.0.0.1:8000

APP_LOCALE=es
APP_FALLBACK_LOCALE=es
APP_FAKER_LOCALE=es_ES

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=debug

DB_CONNECTION=sqlite

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

CACHE_STORE=file
QUEUE_CONNECTION=sync
BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local

MAIL_MAILER=log
MAIL_FROM_ADDRESS="no-reply@empacar.local"
MAIL_FROM_NAME="${APP_NAME}"

VITE_APP_NAME="EMPACAR S.A. - Sistema Comercial"

PAGOFACIL_BASE_URL="https://masterqr.pagofacil.com.bo/api/services/v2"
PAGOFACIL_PAYMENT_METHOD=auto
PAGOFACIL_CACHE_SEGUNDOS=600
PAGOFACIL_MONTO_PRUEBA=0.01
PAGOFACIL_COMMERCE_ID=""
PAGOFACIL_SERVICE_TOKEN=""
PAGOFACIL_SECRET_TOKEN=""
PAGOFACIL_WEBHOOK_SECRET="empacar-webhook-2026-seguro"
URL_CALLBACK="http://127.0.0.1:8000/pagofacil/callback"
